*{
    line-height: 18px;
}

html{
    font-size: 16px;
}

body{
    background-color: black;
    overflow: scroll
}

a:link{
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.js-menu {
    transition: all .4s ease-in-out;
    max-height: 0;
    overflow: hidden;
    background-color: white;  
    width: 100%;
    position: absolute;
}

.js-menu.open {
    max-height: 28rem;
}

.margin-bot{
margin-bottom: 0.5rem;
}

.search{
    padding-top: 1rem;
}

.white{
    color: white; 
}

.hideall{
    display: none;
}

.giohang{
    line-height: 3; 
}

.link{
    color: #999;
}

.lh-inherit{
    line-height: inherit;
}

a:hover{
    color: #222;
}

.km{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #dd3333;
    color: white;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.menu{
    border-right: 1px solid #ddd;
}

.button-order{
    padding: 2rem 2rem 0 2rem;
}

.nav-list{
    padding:  0 2rem 1rem 2rem;
}

